@tailwind base;
@tailwind components;
@tailwind utilities;
:export {
  colorCode: #3a86ff;
  colorCodeHover: #024bbf;
}

.bg-\[\#3a86ff\] {
  background-color: #3a86ff;
}

.hover\:bg-\[\#024bbf\]:hover {
  background-color: #024bbf;
}

.text-\[\#3a86ff\] {
  color: #3a86ff;
}

.hover\:text-\[\#024bbf\]:hover {
  color: #024bbf;
}

@font-face {
  font-family: PaytoneOne;
  src: url(/fonts/PaytoneOne-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Carlito;
  src: url(/fonts/Carlito-Regular.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(/fonts/Roboto-Regular.ttf);
}
.paytone-one {
  font-family: PaytoneOne, sans-serif;
}
.paytone-one .bold {
  font-weight: bold;
}

.carlito {
  font-family: Carlito;
}
.carlito .bold {
  font-weight: bold;
}

.roboto {
  font-family: Roboto;
}
.roboto .bold {
  font-weight: bold;
}

.placeholder-bold::-webkit-input-placeholder {
  font-weight: bold;
}

.placeholder-bold::-moz-placeholder {
  font-weight: bold;
}

.placeholder-bold:-ms-input-placeholder {
  font-weight: bold;
}

.placeholder-bold::-ms-input-placeholder {
  font-weight: bold;
}

.placeholder-bold::placeholder {
  font-weight: bold;
}

.botchat .user:first-child p {
  margin-top: 0px;
}
.botchat .user {
  justify-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.botchat .user > p {
  word-break: break-all;
  width: 100%;
  text-overflow: clip;
  background-color: rgb(103, 232, 249);
  padding: 0.5rem;
  margin-top: 1rem;
  margin-left: 2.5rem;
  margin-right: 0.5rem;
  border: 1px solid transparent;
  border-radius: 1rem;
}
.botchat .bot {
  justify-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.botchat .bot > div {
  background-color: rgb(203, 213, 225);
  padding: 0.5rem;
  margin-top: 1rem;
  margin-left: 0.5rem;
  margin-right: 2rem;
  border: 1px solid transparent;
  border-radius: 1rem;
}
.botchat .bot .icon {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  aspect-ratio: 1/1;
  padding: 0.35rem;
  border: 1px transparent;
  border-radius: 100%;
  background-color: rgb(203, 213, 225);
  -ms-flex-item-align: end;
      align-self: flex-end;
  justify-self: end;
}

.fallback {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #ffffff;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  -webkit-animation: l3 1s infinite linear;
          animation: l3 1s infinite linear;
}

@-webkit-keyframes l3 {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes l3 {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}
.study-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: calc(100% - 0.5rem);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  z-index: -1;
}

.subject-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1rem;
}
.subject-container::before {
  content: "";
  position: absolute;
  width: 125%;
  height: 125%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.circle-container:hover .circle {
  border: white solid 1px;
  background-color: white;
}
.circle-container .circle {
  position: absolute;
  right: 1rem;
  height: 25%;
  aspect-ratio: 1/1;
  border: black solid 1px;
  border-radius: 100%;
  -webkit-transition: background-color 150ms linear, border 150ms linear;
  transition: background-color 150ms linear, border 150ms linear;
}