@tailwind base;
@tailwind components;
@tailwind utilities;
:export {
  colorCode: #3a86ff;
  colorCodeHover: #024bbf;
}

.bg-\[\#3a86ff\] {
  background-color: #3a86ff;
}

.hover\:bg-\[\#024bbf\]:hover {
  background-color: #024bbf;
}

.text-\[\#3a86ff\] {
  color: #3a86ff;
}

.hover\:text-\[\#024bbf\]:hover {
  color: #024bbf;
}

@font-face {
  font-family: PaytoneOne;
  src: url(/fonts/PaytoneOne-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Carlito;
  src: url(/fonts/Carlito-Regular.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(/fonts/Roboto-Regular.ttf);
}
.paytone-one {
  font-family: PaytoneOne, sans-serif;
}
.paytone-one .bold {
  font-weight: bold;
}

.carlito {
  font-family: Carlito;
}
.carlito .bold {
  font-weight: bold;
}

.roboto {
  font-family: Roboto;
}
.roboto .bold {
  font-weight: bold;
}

.placeholder-bold::-webkit-input-placeholder {
  font-weight: bold;
}

.placeholder-bold::-moz-placeholder {
  font-weight: bold;
}

.placeholder-bold:-ms-input-placeholder {
  font-weight: bold;
}

.placeholder-bold::-ms-input-placeholder {
  font-weight: bold;
}

.placeholder-bold::placeholder {
  font-weight: bold;
}