@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: PaytoneOne;
  src: url(/fonts/PaytoneOne-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Carlito;
  src: url(/fonts/Carlito-Regular.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(/fonts/Roboto-Regular.ttf);
}
.paytone-one {
  font-family: PaytoneOne, sans-serif;
}
.paytone-one .bold {
  font-weight: bold;
}

.carlito {
  font-family: Carlito;
}
.carlito .bold {
  font-weight: bold;
}

.roboto {
  font-family: Roboto;
}
.roboto .bold {
  font-weight: bold;
}

.placeholder-bold::-webkit-input-placeholder {
  font-weight: bold;
}

.placeholder-bold::-moz-placeholder {
  font-weight: bold;
}

.placeholder-bold:-ms-input-placeholder {
  font-weight: bold;
}

.placeholder-bold::-ms-input-placeholder {
  font-weight: bold;
}

.placeholder-bold::placeholder {
  font-weight: bold;
}

.top-full {
  top: 100%;
}

.bottom-full {
  bottom: 100%;
}

.left-full {
  left: 100%;
}

.right-full {
  right: 100%;
}